{{define "header"}}
<html>
  <body>
{{end}}

{{define "footer"}}
    <p>Copyright Chip 2028</p>
    <!-- NOTE: This body & html tags are not opened in this named template -->
  </body>
</html>
{{end}}